<main>
    <h1> Login home </h1>

    <title> Query </title>
    <body id="login">

    <form action="/login/mypage" method="get">
        <div><label> Account Name   : <br> <input type="text"     required></label></div>
        <div><label> Password       : <br> <input type="password" required></label></div>
        <input type="submit" value="Log in">
    </form>

    <form action="/login/newAcc" method="get">
        <input type="submit" value="Create New Account">
    </form>

    <nav>
        <ul>
            <li>
                <a href="http://127.0.0.1:8888/query">
                    Query Home
                </a>
            </li>
        </ul>
    </nav>

</main>
