<main>

    <title> Query </title>
    <body id="contact">

    <form>
        <p><label> Account Name : <br>                               <input type="text">               </label></p>
        <p><label> Email        : <br>                               <input type="text">               </label></p>
        <p><label> Subject      : <br>                               <input type="text">               </label></p>
        <p><label> Contents     : <br><textarea rows="10"></textarea>                                  </label></p>
        <p>                                                          <input type="submit" value="Sent">        </p>
    </form>
    <nav>
        <ul>
            <li>
                <a href="http://127.0.0.1:8888/login">
                    Login Menu
                </a>
            </li>
        </ul>
    </nav>
</main>
